$background: white;
$backgroundPrimary: rgba(255, 189, 158, 1);
$backgroundSecondary: rgba(242, 114, 108, 1);
$backgroundHome: rgba(247, 243, 244, 1);
$boxShadow: 0px 30px 40px rgba(240, 101, 126, 0.05);

$widthMain: 1280px;
$widthContent: 1120px;
